<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Best website ever</title>
</head>
<body>
  <h1>My Amazing Sample Website</h1>
  <p>Hi! my name is: {{$ foo 'name'}}</p>
  <p>I was created on: {{$ foo 'createdAt'}}</p>
  <p>My child is: {{$ foo 'bars.0.name'}}</p>
  <p>{{toUpperCase 'my very easy method just speeds up naming planets'}}</p>
  <p>Hi! my name is: {{$ bar 'name'}}</p>
  <p>I am a child of: {{$ bar 'foo.name'}}</p>
</body>
</html>
